/* CUSTOM CSS HERE */
.magnific-gallery img{
    opacity: 0.9;
    width: 95% !important;
    height: 95% !important;
}
ul.magnific-gallery li{
    background-color: #fff;
}
a.Bidacs{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#logo{
    margin: 0;
}
.BidacLogo{
    width: 310px;
    margin: 7px;
}
.BidacLogoFooter{
    width: 100%;
    max-width: 450px;
    margin: 7px;
}
.BidacLogo2{
    width: 115px;
}
#logo_footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.box_feat_home p{
    font-size: 18px;
    color: #777;
    line-height: 25px;
    text-align: justify;
}
.box_style_5 {
    background-color: white;
    border: 6px solid #f3f5f8;
    padding: 6px;
}
.list_courses_tabs ul li {
    padding: 15px 5px 10px 10px;
}
.lihover {
    background-color: #f8f8f8
}
.list_courses_tabs li h3{
    line-height: 24px;
    padding: 5px 8px !important;
}
div.verticalsep{
    height: 50px;
}
li.i_s_bg{
    background-color: white;
    padding: 15px 20px 5px 20px !important;
    margin-right: 10px;
    height: auto !important;
}
ul.list_staff li.i_s_bg figure{
    position: relative;
    float: left;
    margin-right: 10px;
}
li.i_s_bg figure img{}
li.i_s_bg h5{
    float: right;
}
div.content>section{
    padding-left: 20px;
    padding-right: 20px;
}
div.box1zer{
    padding: 15px 10px 10px 10px !important;
}
.box_style_1 a i{
    font-size: 22px;
}
.sub_page_header{
    height: 300px;
}
@media screen {
    /* list_news_tabs */
}
#People .box_style_1{
    position: relative;
    padding-bottom: 18px;
}
#People #section-1 .box_style_1 a>p:last-child {
    padding-bottom: 10px;
}
#People #section-1 .box_style_1 .img-circle {
    width: 150px;
    height: 150px;
}
#People #section-1 .box_style_1 a {
    display: block;
    position: absolute;
    bottom: 10px;
    width: 34px;
    left: 50%;
    margin-left: -15px;
}
#People #section-1 .box_style_1 a i{
    color: #de5150;
}
.box_feat_service{
    background-color: #ffffff;
    padding: 7px;
    margin-bottom: 20px;
    padding-left: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.box_feat_service p{
    font-size: 18px;
    color: #333;
    line-height: 25px;
    margin: 0;
    text-align: justify;
    padding-left: 20px;
}
.box_feat_service i {
    font-size: 50px;
    color: #de5150;
    float: left;
}